.nav {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 1;

  &__items {
    gap: $gap-m;
    display: flex;
  }

  &__item {
    color: $nav-color;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover,
    &.active {
      background-color: $hover-color;
      color: $white;
      transform: translateY(-2px);
    }
  }

  &__login-wrap {
    display: flex;
    align-items: center;
    gap: $gap-m;
  }
}
